<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      href="./assets/css/default.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://use.fontawesome.com/4e1aaefe83.js"></script>
  </head>
  <body class="dashboard">
    <div class="container">
      <section class="navigation">
        <header>
          <a href="">
            <img src="./assets/img/logo.svg" />
          </a>
        </header>
        <nav>
          <a href="">
            <div class="fa fa-home"></div>
            <div>Dashboard</div>
          </a>
          <a href="">
            <div class="fa fa-home"></div>
            <div>Foundation in Business</div>
          </a>
          <a href="">
            <div class="fa fa-home"></div>
            <div>Bachelor of Business Studies</div>
          </a>
          <a href="">
            <div class="fa fa-home"></div>
            <div>Postgraduate Level 7</div>
          </a>
          <a href="">
            <div class="fa fa-home"></div>
            <div>Administrator</div>
          </a>
        </nav>
      </section>
      <section class="content">
        <header>
          <nav class="breadcrum">
            <a href="">
              <span class="fa fa-home">1</span>
              Dashboard
            </a>
          </nav>
          <nav class="profile">
            <a href="">
              <img src="./assets/img/profile.jpg" />
            </a>
          </nav>
        </header>
        <section class="contain"></section>
      </section>
    </div>
  </body>
</html>
